<% content_for :head do %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.6.0/jquery.matchHeight-min.js' %>
  <script>
    $(function() { $('.event-gallery').matchHeight(); });
  </script>
<% end %>

<% hide_left %>
<% hide_right %>

<h2>Event Galleries</h2>

<% unless @galleries.blank? %>
  <% @galleries.each do |gallery| %>
    <a class="event-gallery" href="<%= gallery_path(gallery) %>">
      <% unless gallery.gallery_images_count.zero? %>
        <% gallery_image = gallery.gallery_images.first(:conditions => ["display = ?", true]) %>
	<%= image_tag(gallery_image.image(:small)) %>
      <% end %>
      <%= gallery.name %>
    </a>
  <% end %>
<% end %>
