<iframe style="margin-left:5px;" width="202" height="202" src="https://www.youtube.com/embed/wgrLSzxMwWY?rel=0" frameborder="0" allowfullscreen></iframe>

<p class="fancy_font padding">
  <a href="https://www.visithull.org/" target="_blank"><%= image_tag("2021/visit-hull.jpg", :alt=>"Visit Hull", :style=>"margin-bottom: 8px;max-width:202px;height:auto;") %></a>
</p>
<div class="hr"><hr /></div>
<p class="fancy_font padding">
  <a href="https://www.facebook.com/pages/Christmas-in-Hull/170492059701643" target="_blank"><%= image_tag("facebook.gif", :alt=>"facebook", :style=>"margin-bottom: 8px;") %></a>
  <br />
  Join our Facebook page for all things festive in the City Centre this Christmas.
  <br />
  <br />
  <a href="https://twitter.com/ChristmasInHull" target="_blank"><%= image_tag("twitter_banner.png", :alt=>"twitter", :style=>"margin-bottom: 8px;") %></a>
  <br />
  Or follow us on Twitter for regular updates.
</p>

<div class="hr"><hr /></div>

<% if false %>
<fieldset id="newsletter_subscription">
  <legend>Receive events and news from Hull BID</legend>
  <% form_tag '/create_subscriber' do %>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], {:placeholder => "Enter your email address..."} %>
    <%= hidden_field_tag :referrer, request.request_uri %>
    <%= submit_tag "Submit" %>
  <% end %>
</fieldset>

<div class="hr"><hr /></div>

<% end %>

<p style="padding-left: 12px; padding-right: 5px;"><%= link_to_page "If you have a City Centre event to promote, please contact us.", "Contact Us", {:class=>"underline"} %></p>

<div class="hr"><hr /></div>

<h3 class="transport_information">Transport Information</h3>
<%= image_tag("bus.jpg") %>
<ul class="fancy_bullet">
  <li><%= link_to "East Yorkshire Motor Services", "https://www.eastyorkshirebuses.co.uk/festive-buses-0", {:popup => true, :class => "underline"} %></li>
  <li><%= link_to "Stagecoach", "https://www.stagecoachbus.com/promos-and-offers/east-midlands/christmas/christmas-timetables", {:popup => true, :class => "underline"} %></li>
  <li><%= link_to "Taxi Safety", article_path(:id => 11), {:class => "underline"} %></li>
</ul>
