<% form_for([:admin, @shopping_centre], :html => {:multipart => true}) do |f| %>

  <%= f.error_messages %>

  <fieldset>
    <legend>Summary Information</legend>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
  </fieldset>

  <p>
    <%= f.check_box :display %>
    <%= f.label :display %>
  </p>

  <p><%= f.submit "Submit" %></p>

<% end %>
