<% metadata(@page_node.active_content.meta_description, @page_node.active_content.meta_tags) %>

<% content_for :head do %>
  <%= javascript_include_tag "scriptaculous" %>
<% end %>

<% if @banners.length > 1 %>
  <% add_load_function("startPage();") %>
<% end %>

<% hide_left %>

<% title(@page_node.title) %>

<% if @events.empty? and @articles.empty? %>
  <%= @page_node.active_content.main_content %>
<% else %>
  <div class="opening-times">
    <h2>Christmas Opening Times</h2>

    <% unless @opening_times.empty? %>
      <table class="opening-hours">
        <tr>
          <th>Shopping Centre</th>
          <th>Date</th>
          <th>Opening Times</th>
        </tr>
        <%= render @opening_times %>
      </table>
    <% end %>

    <%= link_to "View Opening Times", opening_times_path %>
  </div>

  <div>
    <% if !@events.empty? %>
      <div class="col_1">
        <%= render "events" %>
      </div>
    <% end %>

    <% if !@articles.empty? %>
      <div class="col_2">
        <%= render "articles" %>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>

  <% if @offers.present? %>

    <div class="news_event_highlight">
      <div class="large_thumbnail">
        <%= link_to(image_tag("2017/offers.jpg"), offers_path) %>
      </div>
    </div>
    <%= render 'offers' %>
  <% end %>



<% end %>

<% content_for :right do %>
  <%= render "/shared/common_right" %>
<% end %>
